# Cleaning the data

In [68]:
#cleaning the data
import pandas as pd
import numpy as np

#reading the file
df = pd.read_csv('Instagram.csv')

#read the test file
df2 = pd.read_csv('Test.csv')

#dropping the links to each Instagram picture
df = df.drop("Link to photo", axis=1)

#replacing typos in the dataset
df['Framing'] = df['Framing'].replace('Full body', 'Full Body')
df['Facial piercings'] = df['Facial piercings'].replace('None', 'No')
df['Earrings'] = df['Earrings'].replace('None', 'No')
df['Facial hair'] = df['Facial hair'].replace('No', 'None')
df['Eye shadow color'] = df['Eye shadow color'].replace('No', 'None')
df['Lipstick color'] = df['Lipstick color'].replace('No', 'None')
df['Makeup'] = df['Makeup'].replace('None', 'No')

#dropping Photo Comments and user names
df_train = df.drop('Photo comments', axis=1)
df_train = df_train.drop('Usernames', axis=1)

df_test = df2.drop('Usernames', axis=1)

#for i in df.columns:
    #print(df[i].value_counts())
    #print('   ')

# Finding the gender ratio

In [2]:
#finding the gender ratio
genders = df['Gender'].value_counts()
females = genders[0]
males = genders[1]

females = females / 3
males = males / 3

print(str((females / 200) * 100) + '% of the users in this dataset are females.')
print(str((males / 200) * 100) + '% of the users in this dataset are males.')

59.0% of the users in this dataset are females.
41.0% of the users in this dataset are males.

# The average number of post

In [3]:
#average number of post
df['Posts'].describe()

count     600.00000
mean      787.08500
std      1278.48234
min        14.00000
25%       127.00000
50%       330.50000
75%       800.75000
max      9196.00000
Name: Posts, dtype: float64

# Concat dataframes, get dummies, and split data

In [4]:
df_train['label'] = 'train'
df_test['label'] = 'score'

# Concat
concat_df = pd.concat([df_train , df_test])

# Create your dummies
features_df = pd.get_dummies(concat_df, columns=['Gender', 'Framing', 'Background', 'Headwear', 'Hair style', 'Hair color', 
                                                 'Facial piercings', 'Earrings', 'Smile', 'Teeth', 'Facial hair', 'Glasses', 
                                                 'Eye shadow color', 'Lipstick color', 'Makeup', 'Clothes', 'Cleavage', 
                                                 'Necklace', 'Tattoos', 'Eye color'])
features_df = features_df.drop('ID', axis=1)
# Split your data
train_df = features_df[features_df['label'] == 'train']
test_df = features_df[features_df['label'] == 'score']

# Drop your labels
train_df = train_df.drop('label', axis=1)
test_df = test_df.drop('label', axis=1)
test_df = test_df.drop('Photo likes', axis=1)

#test_df.to_csv(r'C:\users\kalob\Desktop\test.csv')

#print(train_df.columns)
print(len(test_df.columns))

88

C:\Users\kalob\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

# Training Model

In [12]:
#predicting likes using Random Forest
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

X_train = train_df.drop('Photo likes', axis=1)#features
y_train = train_df['Photo likes'] #label

#X_test values from the test data set
X_test = test_df

# Random Forest

In [89]:
#applying random forest
rf = RFC(n_estimators=100, max_depth=10)
rf.fit(X_train, y_train);

y_true = rf.predict(X_test)

true = pd.DataFrame(data=y_true)
true

      0
0    51
1     7
2    78
3   242
4   127
5    37
6   116
7   397
8    72
9   166
10  451
11   29
12   92
13  115
14   82

# KNN

In [10]:
model = KNeighborsClassifier(n_neighbors=20)
model.fit(X_train, y_train)

y_true1 = model.predict(X_test)

true1 = pd.DataFrame(data=y_true1)
true1

        0
0      27
1      27
2      27
3     107
4     107
5     107
6   1,392
7   1,392
8   1,392
9   1,212
10  1,212
11  1,212
12    143
13    143
14    143

# DecisionTree

In [92]:
tree = DecisionTreeClassifier(criterion='gini', max_depth = 100, min_samples_leaf = 25)
tree.fit(X_train, y_train)

y_true2 = tree.predict(X_test)

true2 = pd.DataFrame(data=y_true2)
true2

            0
0          17
1          17
2          17
3          34
4          34
5          34
6          52
7          52
8          52
9   1,352,438
10      1,106
11  1,140,815
12         34
13         34
14         34